{
    "extends": "standard",
    "rules": {
        "arrow-parens": [0],
        "space-before-function-paren": [2, "never"],
        "quotes": [2, "single", { "allowTemplateLiterals": true }]
    }
}
